/.vs/440_ECC_Algorithms/v16/ipch/AutoPCH/22bec5c27d550db7
/.vs/440_ECC_Algorithms/v16/ipch/AutoPCH/1f12ff171b45500/*.ipch
/.vs/440_ECC_Algorithms/v16
/440_ECC_Algorithms.vcxproj.user
/Debug
/440_ECC_Algorithms.sln.DotSettings.user
